[user]
  name = Thomas Deutsch
  email = thomas@tuxpeople.org
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
  # https://help.github.com/articles/signing-commits-using-gpg/
  gpgsign = true
[diff]
  # Detect copies as well as renames
  renames = copies
[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C
[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1
[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
[web]
  browser = google-chrome
[gpg]
	program = gpg2
[credential]
  helper = osxkeychain
[push]
  default = simple
[pull]
  rebase = false
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
